= simple_form_for :quesion, url: create_question_path do |f|
  = f.text_field :statement
  = f.simple_fields_for :choices do |choice|
    = choice.input :content
    = choice.input :correct, as: :radio_buttons
